<h1 mat-dialog-title>Editar Informações</h1>
<div mat-dialog-content>
  <p>Nome:</p>
  <mat-form-field appearance="fill">
    <mat-label>Mudar Nome:</mat-label>
    <input matInput [(ngModel)]="data.nome" autocomplete="off" required>
  </mat-form-field>
  <p>Data de nascimento:</p>
  <mat-form-field appearance="fill">
    <mat-label>Mudar Data de Nascimento:</mat-label>
    <input matInput [(ngModel)]="data.nascimento" autocomplete="off">
  </mat-form-field>
  <p>Matrícula:</p>
  <mat-form-field appearance="fill">
    <mat-label>Mudar numero de Matricula:</mat-label>
    <input matInput [(ngModel)]="data.matricula" autocomplete="off">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="editAluno(data)" cdkFocusInitial>Adicionar</button>
</div>
